*{
    margin: 0;
}
/*
background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);   */

body{
    background-image: url('cover.jpg');
    /* background-size: cover;
    background-position: center; */
}

.container{
    background-color: white;
    width: 500px;
    padding: 10px;
    height: auto;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 420px;
    top: 50px;
}

.box{
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;  
    background-color: rgba(66, 212, 238, 0.493);
}

.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input{
    display: block;
    background-color: whitesmoke;
    border: 0;
    outline: 0;
    width: 350px;
    height: 55px;
    font-size: 20px;
    margin: 10px;
    position: relative;
    left: 40px;
}

input:focus{
    box-shadow: 5px 7px rgba(6, 213, 250, 0.459);
}

input[type=submit],input[type=reset]{
    background-color: rgba(66, 212, 238, 0.493);
    width: 170px;
    font-size: 18px;
    display: inline-block;
}

input[type=submit]:focus,input[type=reset]:focus{
    box-shadow: 5px 7px rgba(6, 213, 250, 0.514);
    background-color:rgba(6, 213, 250, 0.116) ;
}

input[type=file] {
    width: auto;
    font-size: 14px;
    margin: 0;
}

label {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -130px;
}

textarea {
    resize: none;
    width: 440px;
    height: 100px;
    background-color: whitesmoke;
    border: 0;
    outline: 0;
    margin-top: 10px;
}